<h1>plase enter your name</h1>
<form action="/login" method="post">
    <label for="usere">Username</label>
    <input type="text" name="user" id="user"/>
    <button type="submit" value="enviar">Submit</button>


</form>